/* COMPONENTS' STYLES */
/* 
Here will be some styles of elements/components which will be reused multiple times inside the projects:
menu bar, footer elements and 3 contact elements (Opening Hours, Address, Call Now) etc.
And for that we use components.css file
*/

/* 1. NAV STYLES */

.nav {
  padding: 2rem 0;
}

/* we hide nav icons and nav background overlay for Desktop View Layout and use them for Mobile View Layout */
.nav__icon__open,
.nav__icon__close,
.nav__bg__overlay {
  display: none;
}

.nav__wrapper {
  display: flex;
  /* make a space between nav icon and nav items */
  justify-content: space-between;
}

.nav__list li {
  /* putting nav list items in the row and giving them top and bottom margins */
  display: inline-block;
  margin: 0 1rem;
}

/* styling nav list items */
.nav__list .nav__link {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: var(--black-2);
  padding: 0.5rem;
}

/* changing nav list items' color on hover */
.nav__link:hover {
  color: var(--green-1);
}
/* OR use the CSS logic - If you hover on nav__list's 'li' item then nav__link change color to '--green-1' */
/* .nav__list li:hover .nav__link {
    color: var(--green-1);
} */

/* 3. MOBILE NAVIGATION */

/* when we are inside 768px frame (on smaller devices) there will be a different style applied */
@media only screen and (max-width: 768px) {
  /* Styling Navigation Icons */
  /* setting nav container as a relative to set and position Nav List Items (.nav__list)
  and nav icons on the top of each other in top-right corner */
  .nav {
    position: relative;
  }
  .nav__icon__open {
    /* getting Hamburger Icon visible */
    display: block;
  }
  .nav__icon__open svg,
  .nav__icon__close svg {
    /* pointer will not change on hovering over the icon */
    pointer-events: none;
    /* size of the icon */
    height: 30px;
    width: 30px;
  }
  .nav__icon__close {
    display: block;
    /* absolute because nav__icon__close will be on/with Mobile Menu under hamburger/open icon */
    position: absolute;
    color: var(--black-1);
    /* positioning the icon on the top-right corner */
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }
  /* Styling Navigation List Items - Nav Overlay */
  .nav__list {
    /* Positioning Navigation List Items on the top layer of whole website so nothing will not interfere with the menu */
    z-index: 1000;
    /* position absolute to be able to manipulate (hide, show and position) nav__list container */
    position: absolute;
    /* hiding nav__list/Mobile Menu on the right so later with 'transform: translateX(-100%);' in '.nav__list.show {...}'
    we show nav__list/Mobile Menu again with JS eventListener */
    left: 100%;
    top: 0;
    /* stretching Mobile Menu all the way vertically */
    height: 100vh;
    width: 80%;
    background-color: var(--lightGreen-1);
    display: flex;
    align-items: center;
    /* keeping nav list items block to the right side */
    justify-content: flex-end;
    padding-right: 2rem;
    /* translate 0 for initial state so later we can change it to -100% in order to show nav__list/Mobile Menu with JS eventListener */
    transform: translateX(0%);
    /* overflow: hidden; */
    transition: 0.3s ease-in transform;
  }
  .nav__list.show {
    /* we  change it to -100% in order to show nav__list/Mobile Menu with JS eventListener by adding 'show' class to html element next to 'nav__list' class */
    transform: translateX(-100%);
  }
  .nav__list li {
    /* in Desktop View we had 'inline-block' so they can be aligned in a row,
    in Mobile View we go to 'block' so they can be aligned in a column */
    display: block;
    text-align: right;
    margin-bottom: 2rem;
  }
  .nav__list a {
    font-size: 1.6rem;
  }
  .nav__bg__overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background: rgba(18, 24, 14, 0.808);
    /* display none initial state so later we can change it to block in order to show background overlay under Mobile Menu with JS eventListener */
    display: none;
  }
  /* changing display to block in order to make background overlay visible with JS eventListener by adding 'active' class to html element next to 'nav__bg__overlay' class */
  .nav__bg__overlay.active {
    display: block;
  }
}

/* 2. GLOBAL BUTTON STYLE */

.btn {
  color: var(--green-1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 8px;
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
}

.btn-primary {
  color: var(--white-1);
  background-color: var(--green-1);
}

/* changing button size on smaller screen view */
@media only screen and (min-width: 768px) {
  .btn {
    padding: 1.3rem 2rem;
    font-size: 2rem;
  }
}

/* 4. FOOTER STYLES */

/* MOBILE view */
footer {
  background: var(--lightGreen-1);
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* Footer Socials */
.footer__logo {
  width: 150px;
  margin-bottom: 2rem;
}
.footer__description {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 2rem;
}
.footer__socials__title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1rem;
}
.footer__socials li {
  display: inline-block;
  margin-right: 0.5rem;
}
.footer__socials a {
  padding: 0.5rem 0.8rem;
  background-color: var(--white-1);
  border: 1px solid var(--green-2);
  border-radius: 8px;
}
.footer__socials svg {
  width: 20px;
  color: var(--black-2);
}
/* Common Styles for col-2,3,4  */
.footer__text__title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--black-1);
  font-weight: 600;
}
.footer__text a {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--black-2);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.4em;
  /* the rem unit is only relative to the document's root element, while the em unit is only relative to the immediate parent of the targeted element. 
  This means that em sizes are inherited from parent elements, while rem sizes are inherited only from the root element. */
}

/* DESKTOP view */
/* whenever device width is larger than 768px following styles will be applied */
@media only screen and (min-width: 768px) {
  footer {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
  .footer__wrapper {
    flex-direction: row;
  }
  /* giving a footer description + social part a bit more space */
  .footer__col-1 {
    flex: 4;
  }
  .footer__col-2,
  .footer__col-3,
  .footer__col-4 {
    flex: 2;
  }
  .footer__description {
    max-width: 300px;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  .footer__socials__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .footer__text__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .footer__text a,
  .footer__text p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

/* COPYRIGHT LINE STYLES */

/* MOBILE VIEW */
#copyright {
  padding: 1rem 0;
}
.copyright__text {
  font-size: 1.4rem;
  text-align: center;
}

/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
  .copyright__text {
    font-size: 1.6rem;
    text-align: left;
  }
}

/* 5. STORE INFO STYLES */

/* MOBILE view */
.store__info__wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 1rem;
}

.store__info__item {
  background-color: var(--lightGreen-1);
  padding: 20px 30px;
  text-align: center;
  border-radius: 12px;
  width: 150px;
}

.store__info__icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}

.store__info__title {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--black-1);
}

.store__info__text {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  color: var(--black-2);
}

/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
  .store__info__wrapper {
    gap: 2rem;
  }
  .store__info__item {
    min-width: 200px;
    padding: 40px 0;
  }
  .store__info__icon {
    width: 47px;
    height: 47px;
    margin-bottom: 2.4rem;
  }
  .store__info__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .store__info__text {
    font-size: 1.6rem;
  }
}

/* 6. TOP DISHES Styles */

/* MOBILE view */
.top__dishes__title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 600;
  color: var(--black-1);
}

.top__dishes__wrapper {
  display: grid;
  /* grid-template-columns will create a responsiveness like flex-wrap */
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
}

.top__dishes__item {
  display: flex;
  /* putting top__dishes__info section underneath the image */
  flex-direction: column;
  background-color: var(--lightGreen-1);
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 12px;
}

.top__dishes__item__img img {
  object-fit: cover;
  border-radius: 12px;
}

.top__dishes__item__title {
  font-size: 1.4rem;
  line-height: 1.3em;
  font-weight: 500;
  color: var(--black-1);
  margin-bottom: 0.5rem;
}

.top__dishes__item__price {
  font-size: 1.4rem;
  color: var(--green-1);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.top__dishes__item__stars {
  max-height: 15px;
  /* The max-content sizing keyword represents the intrinsic maximum width or height of the content. For text content this means that the content will not wrap at all even if it causes overflows */
  width: max-content;
}

/* DESKTOP view */
@media only screen and (min-width: 768px) {
  .top__dishes__title {
    font-size: 2.4rem;
  }
  .top__dishes__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }
  .top__dishes__item {
    flex-direction: row;
    padding: 1.5rem;
    gap: 1rem;
  }
  .top__dishes__item__img {
    flex: 4;
  }
  .top__dishes__item__info {
    flex: 5;
  }
  .top__dishes__item__title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  .top__dishes__item__price {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
