/* HOME Page Styles */
/* This file will contains only Home Page Styles */
/* !!! Link this file in our Home Page Head section */

/* HERO STYLES */

/* MOBILE VIEW */
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5rem;
}

.hero__left__wrapper {
  max-width: 360px;
  text-align: center;
}

.hero__right__wrapper {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}

.hero__heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);
}

.hero__text {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: var(--black-2);
}

/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
  .hero__wrapper {
    flex-direction: row;
    gap: 0;
  }
  .hero__left {
    flex: 3;
  }
  .hero__right {
    flex: 4;
  }
  .hero__left__wrapper {
    text-align: left;
  }
  .hero__heading {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .hero__text {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .hero__right__wrapper {
    max-width: none;
    width: 90%;
  }
}

/* OUR SPECIALS Styles */

/* MOBILE view */
#specials {
  padding-top: 10rem;
}

.specials__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.specials__left {
  display: flex;
  gap: 1rem;
}

.specials__item {
  background-color: var(--lightGreen-1);
  padding: 1.2rem;
  /* padding-top - 5rem as we will have negative margin to push picture out of specials__item element that is why we need more padding on the top */
  padding-top: 5rem;
  border-radius: 12px;
  width: 45%;
  margin: 0 auto;
}

.specials__item__picture {
  /* calc(-50% -2rem) this is how much we need to calculate that negative margin to push picture out */
  margin-top: calc(-50% - 2rem);
  margin-bottom: 2rem;
  height: 150px;
  /* hiding a scrollbar */
  overflow: hidden;
}

.specials__item__picture img {
  border-radius: 12px;
  object-fit: cover;
}

.specials__item__title {
  font-size: 1.4rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.specials__item__price {
  color: var(--green-1);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.specials__item__stars {
  height: 1.5rem;
  /* The max-content sizing keyword represents the intrinsic maximum width or height of the content. For text content this means that the content will not wrap at all even if it causes overflows */
  width: max-content;
  margin-bottom: 1rem;
}

.specials__item__text {
  font-size: 1.4rem;
  color: var(--black-2);
  font-weight: 500;
}

.specials__title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1.5rem;
}

.specials__text {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 1rem;
}
/* making .specials__left items to wrap on smaller screens */
@media only screen and (max-width: 300px) {
  .specials__left {
    flex-wrap: wrap;
    gap: 10rem;
  }
  .specials__item {
    width: 100%;
  }
}

/* DESKTOP view */
@media only screen and (min-width: 768px) {
  #specials {
    padding-top: 15rem;
  }
  #specials .container {
    /* will keep .container smaller here than default container in global styles file */
    max-width: 900px;
  }
  .specials__wrapper {
    flex-direction: row;
  }
  .specials__right {
    flex: 2;
  }
  .specials__left {
    flex: 4;
    gap: 2rem;
  }
  .specials__item {
    padding: 2rem;
  }
  .specials__item__title {
    font-size: 2.4rem;
    line-height: 1.4em;
    margin-bottom: 1.5rem;
  }
  .specials__item__price {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .specials__item__stars {
    margin-bottom: 2rem;
  }
  .specials__item__text {
    font-size: 1.6rem;
  }
  .specials__title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
  }
  .specials__text {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}

/* DISCOUNT Section */

/* MOBILE view */
.discount__wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 12px;
  /* putting a small illustration on the bottom-right corner with the size of 100px*/
  background: var(--lightGreen-1) url(./images/discount-illustration.png)
    no-repeat bottom right / 100px;
}

.discount__images {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
/* giving images different space in parent container */
.discount__img_1 {
  flex: 2;
}
.discount__img_2 {
  flex: 3;
}
/* whenever we give 'object-fit: cover' to images the image will cover/fit in all the area of the parent container 'discount__images' */
/* if you give 'object-fit: cover' - then it will show the whole picture but will not cover all the area of the parent container */
.discount__images img {
  object-fit: cover;
  border-radius: 12px;
}

.discount__info__percent {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--green-1);
  margin-bottom: 0.5rem;
}

.discount__info__title {
  font-size: 1.8rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.discount__info__price {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.discount__info__oldPrice {
  color: var(--black-2);
  text-decoration: line-through;
}

.discount__info__newPrice {
  color: var(--green-1);
}

.discount__info__stars {
  max-width: max-content;
  height: 15px;
  margin-bottom: 1rem;
}

/* DESKTOP view */

@media only screen and (min-width: 768px) {
  .discount__wrapper {
    flex-direction: row;
    gap: 4rem;
    padding: 2rem;
    align-items: center;
    /* make an illustration a bit bigger */
    background-size: 150px;
  }
  .discount__images {
    flex: 5;
    margin-bottom: 0;
    gap: 2rem;
  }
  .discount__img_1,
  .discount__img_2,
  .discount__img_3 {
    flex: 1;
    height: 350px;
  }
  .discount__info {
    flex: 3;
  }
  .discount__info__percent {
    font-size: 2.4rem;
  }
  .discount__info__title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
  }
  .discount__info__price {
    font-size: 2.4rem;
  }
  .discount__info__stars {
    height: 20px;
    max-width: max-content;
    margin-bottom: 2rem;
  }
}

/* for small devices we show 2 images instead of 3 */
@media only screen and (max-width: 1000px) {
  .discount__wrapper {
    gap: 2rem;
  }
  .discount__img_3 {
    display: none;
  }
}

/* EVENTS MEDIA Section Styles */

/* MOBILE view */
.event__media__wrapper {
  display: flex;
  gap: 1rem;
}

.event__media__video__wrapper {
  position: relative;
  flex: 2;
}

.event__media__video {
  position: relative;
  left: 0;
  bottom: 0;
}

.event__media__video img {
  object-fit: cover;
}

.event__media__play__icon {
  display: inline-block;
  max-width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.event__media__picture {
  flex: 1;
}

.event__media__picture img {
  object-fit: cover;
}

/* DESKTOP view */
@media only screen and (min-width: 768px) {
  .event__media__wrapper {
    gap: 2rem;
  }
  .event__media__play__icon {
    max-width: 100px;
  }
}

/* EVENTS INFO Section Styles */

/* MOBILE view */
.corp__events__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.corp__events__item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.corp__events__item {
  display: flex;
  background-color: var(--lightGreen-1);
  border-radius: 12px;
  padding: 1rem;
  gap: 1rem;
}

.corp__events__img {
  flex: 3;
}

.corp__events__img img {
  object-fit: cover;
  border-radius: 12px;
}

.corp__events__info {
  flex: 4;
}

.corp__events__title {
  font-size: 1.4rem;
  color: var(--black-1);
  margin-bottom: 1rem;
}

.corp__events__text {
  font-size: 1.4rem;
  color: var(--black-2);
}

.book__events {
  margin-top: 3.5rem;
}

.book__events__title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1rem;
}

.book__events__text {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 1rem;
}

/* DESKTOP view */
@media only screen and (min-width: 768px) {
  .corp__events__wrapper {
    flex-direction: row;
    margin-top: -100px;
    gap: 2rem;
  }
  .corp__events__item__wrapper {
    gap: 2rem;
    flex: 1;
  }
  .corp__events__item {
    padding: 2rem;
    max-width: 500px;
    gap: 2rem;
  }
  .corp__events__img img {
    object-fit: cover;
  }
  .corp__events__title {
    font-size: 1.8rem;
  }
  .corp__events__text {
    font-size: 1.6rem;
  }
  .book__events {
    margin-top: 20px;
    flex: 1;
  }
  .book__events__title {
    font-size: 3.6rem;
  }
  .book__events__text {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    max-width: 500px;
  }
}

/* CHOOSE OUR FOOD Section Styles */

/* MOBILE view */
.our__food__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
}

.our__food__left {
  text-align: center;
}

.our__food__title {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-1);
  margin-bottom: 1rem;
}

.our__food__text {
  font-size: 1.4rem;
}

.our__food__items__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.our__food__item {
  background-color: var(--lightGreen-1);
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
}

.our__food__item__icon {
  max-width: 56px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.our__food__item__text {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black-1);
}

/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
  .our__food__wrapper {
    flex-direction: row;
    max-width: 900px;
    gap: 4rem;
  }
  .our__food__left {
    text-align: left;
    flex: 5;
  }
  .our__food__title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .our__food__text {
    font-size: 1.8rem;
  }
  .our__food__right {
    flex: 4;
  }
  .our__food__items__wrapper {
    gap: 1.5rem;
  }
  .our__food__item__icon {
    max-width: 65px;
    margin-bottom: 1.5rem;
  }
  .our__food__item__text {
    font-size: 1.8rem;
  }
}

/* TESTIMONIAL Section Styles */

/* MOBILE view */
.testimonial__wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.testimonial__title {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--black-1);
}

.testimonial__items__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.testimonial__item {
  display: flex;
  background-color: var(--lightGreen-1);
  border-radius: 12px;
  padding: 1rem;
  gap: 1rem;
}

.testimonial__item__img {
  flex: 2;
}

.testimonial__item__img img {
  object-fit: cover;
  border-radius: 12px;
}

.testimonial__item__info {
  flex: 4;
}

.testimonial__item__name {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--black-1);
}

.testimonial__item__stars {
  max-height: 15px;
  width: max-content;
  margin-bottom: 1.5rem;
}

.testimonial__item__text {
  font-size: 1.4rem;
}

/* DESKTOP view */
@media only screen and (min-width: 768px) {
  .testimonial__wrapper {
    max-width: 900px;
  }
  .testimonial__title {
    font-size: 3.6rem;
    margin-bottom: 5rem;
  }
  .testimonial__items__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .testimonial__item {
    padding: 2rem;
  }
  .testimonial__item__name {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .testimonial__item__stars {
    margin-bottom: 2rem;
  }
  .testimonial__item__text {
    font-size: 1.6rem;
    line-height: 1.4em;
  }
}
